<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mishr.icycandy">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:roundIcon="@drawable/iconic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectionActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ImageEditActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuHandleActivity" />
        <activity
            android:name=".SocialWorldActivity"
            android:label="@string/title_activity_social_world"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".know_about_us"></activity>
    </application>

</manifest>